
<h1>All Thoughts</h1>
<%= link_to 'New Post', new_post_path %>

<%= link_to 'Back', controller: 'welcome', action: 'index' %>
 <div>
  <% @posts.each do |post| %>
    <div>
      <div>
        <p><%= post.message %></p>
        <span><%= link_to "Upvote", upvote_post_path(:id => post.id), method: :put %></span>
      </div>
      <span><%= post.votes %> Acknowledgements</span>
        <%#<td><%= link_to 'Show', post_path(post) %></td>
    </div>
  <% end %>
  </div>